	<footer>
		<div class="container footer___container">
			<div class="row align-items-center">
				<div class="footer-copy col-12 col-md-4 ">
					<p>© Copyright 2014  - 2015, All Rights Reserved<br>Designed by: <a href="#">www.desisdfsd.com</a></p>
				</div>
				<div class="footer-social col-12 col-md-4 text-center offset-md-4 ">
					<p>Conect with us</p> 
					<a href="#"><i class="fa fa-facebook" aria-hidden="true"></i></a>
					<a href="#"><i class="fa fa-twitter" aria-hidden="true"></i></a>
					<a href="#"><i class="fa fa-linkedin" aria-hidden="true"></i></a>
					<a href="#"><i class="fa fa-google-plus" aria-hidden="true"></i></a>
					<a href="#"><i class="fa fa-wifi" aria-hidden="true"></i></a>
				</div>
			</div>

		</div>
	</footer>

		<svg style="display: none;">
		<symbol class="svg-icon" id="arr-down" viewBox="0 0 76 35" >
		
	 		<defs>
				    <style>
				      .cls-1 {
				        fill: #fff;
				        fill-rule: evenodd;
				      }
				    </style>
				  </defs>
				  <path id="arr-d.svg" class="cls-1" d="M767.988,741.174l-38,33.836-38-33.836L693.068,740l36.923,32.875L766.914,740Zm0,0" transform="translate(-692 -740)"/>
		</symbol>
		</svg>
	

	<script src="js/script.js"></script>


</body>
</html>