<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<title>Exam-3</title>
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.min.css">
	<link rel="stylesheet" href="css/style.css">
</head>
<body>
	<header class="header-main">
		<div class="container header-main___container">
			<div class="row ">
				<div class="header-main__text col-12 text-center ">
					
					<a href="#" class="main-logo"><img src="img/logo-main.png" alt=""></a>
					<div class="header-title__block">
					<h1 class="header-title">Beauty care with a personal touch</h1>
					<p class="header-subtitle">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Fuga mollitia impedit corrupti itaque asperiores deleniti error vero cupiditate, veniam! Vitae rem aut inventore doloremque, commodi quam, ex earum placeat delectus?</p></div>

					<a href="#" class="cta-button">READ MORE</a>

					<a href="#services" class="more"><svg class='svg-icon'>
							<use xlink:href="#arr-down"></use>
						</svg> </a>
				</div>
			</div>

			<div class="row header-nav">
				<div class="col-12">
					<ul class="header-nav__list">
						<li class="header-nav__list-item  header-nav__item--active "><a href="#">Home</a></li>
						<li class="header-nav__list-item "><a href="#">ABOUT</a></li>
						<li class="header-nav__list-item ""><a href="#">SERVICES</a></li>
						<li class="header-nav__list-item "><a href="#">OFFER</a></li>
						<li class="header-nav__list-item "><a href="#">GALLERY</a></li>
						<li class="header-nav__list-item "><a href="#">TEAM</a></li>
						<li  class="header-nav__list-item "><a href="#">CONTACT</a></li>
					</ul>
				</div>
			</div>

		</div>

	</header>